.Container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.App {
  display: flex;
  text-align: start;
  }


